/* BREADCRUMB */

.breadcrumb {
    padding-left: 35px;

    li,
    a {
        color: $gray;
    }
    
    a {
        padding: 0 5px;
        &.active {
            font-weight: bold;
        }
        &:hover {
            color:$red;
        }
    }
}